<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{%block title%}Humidtropics Comunicaciones{%endblock%}</title>

    <link rel="shortcut icon" href="/files/temporal/img/logo.jpg" />
    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800" rel="stylesheet" type="text/css"><!-- Google web fonts -->
    <link href="/files/temporal/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- font-awesome -->
    <link href="/files/temporal/js/dropdown-menu/dropdown-menu.css" rel="stylesheet" type="text/css"><!-- dropdown-menu -->
    <link href="/files/temporal/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"><!-- Bootstrap -->
    <link href="/files/temporal/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css"><!-- Fancybox -->
    <link href="/files/temporal/js/audioplayer/audioplayer.css" rel="stylesheet" type="text/css"><!-- Audioplayer -->
    <link href="/files/temporal/style.css" rel="stylesheet" type="text/css"><!-- theme styles -->
    <link rel="stylesheet" href="/files/temporal/src/css/mediaelementplayer.css" />
    <link href="/files/temporal/js/bxslider/jquery.bxslider.css" rel="stylesheet" /><!-- bxSlider CSS file -->
    

  </head>
  
  <body role="document">
  

{% block header %}
    <div id="k-head" class="container"><!-- container + head wrapper -->
    
    	<div class="row"><!-- row -->
        
        	<div class="col-lg-12">
        
        		<div id="k-site-logo" class="pull-left"><!-- site logo -->
                
                    <h1 class="k-logo">
                        <a href="/" title="Home Page">
                            <img src="/files/temporal/img/site-logo.jpg" alt="Site Logo" class="img-responsive" />
                        </a>
                    </h1>
                    
                    <a id="mobile-nav-switch" href="#drop-down-left"><span class="alter-menu-icon"></span></a><!-- alternative menu button -->
            
            	</div><!-- site logo end -->

            	<nav id="k-menu" class="k-main-navig"><!-- main navig -->
        
                    <ul id="drop-down-left" class="k-dropdown-menu">
                        <li>
                            <a href="/notas" title="Nuevas Noticias">Noticias</a>
                        </li>
                        <li>
                            <a href="/agendas/eventos" title="Proximos Eventos">Eventos</a>
                        </li>
                        <li>
                            <a href="/contrapartes" title="Organizaciones Aliadas">Contrapartes</a>
                        </li>

                        <li>
                            <a href="/acerca/" title="Mision y Vision">Acerca de</a>
                        </li>
                        <li>
                            {% if request.user.is_authenticated %}
                                <a href="/foros/perfil/" title="Administración">Bienvenido {{request.user}}</a>
                            {%else%}
                                <a href="/accounts/login" class="" title="Entra">Inicio de Sesion</a>
                            {% endif %}
                            
                        </li>
                    </ul>
        
            	</nav><!-- main navig end -->
            
            </div>
            
        </div><!-- row end -->
    
    </div><!-- container + head wrapper end -->
{% endblock %}

{%block contenido%}
{% endblock %}

{%block footer%}
    <div id="k-footer"><!-- footer -->
    
    	<div class="container"><!-- container -->
        
        	<div class="row no-gutter"><!-- row -->
            
            	<div class="col-lg-4 col-md-4"><!-- widgets column left -->
            
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Links de interes</h1>
                                
                                <ul>
                                	<li><a href="#" title="menu item">Placement Exam Schedule</a></li>
                                    <li><a href="#" title="menu item">Superintendent's Hearing Audio</a></li>
                                    <li><a href="#" title="menu item">Budget Central</a></li>
                                    <li><a href="#" title="menu item">Job Opportunities - Application</a></li>
                                    <li><a href="#" title="menu item">College Acceptances as of May 12</a></li>
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                    </div>
                    
                </div><!-- widgets column left end -->
                
                <div class="col-lg-4 col-md-4"><!-- widgets column center -->
                
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contactenos</h1>
                                
                                <div itemscope itemtype="http://data-vocabulary.org/Organization"> 
                                
                                	<h2 class="title-median m-contact-subject" itemprop="name">Buntington Public Schools</h2>
                                
                                	<div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                		<span class="m-contact-street" itemprop="street-address">19 Tower Avenue, Buntington Station</span>
                                		<span class="m-contact-city-region"><span class="m-contact-city" itemprop="locality">New York</span>, <span class="m-contact-region" itemprop="region">NY</span></span>
                                		<span class="m-contact-zip-country"><span class="m-contact-zip" itemprop="postal-code">11506</span> <span class="m-contact-country" itemprop="country-name">USA</span></span>
                                	</div>
                                     
                                	<div class="m-contact-tel-fax">
                                    	<span class="m-contact-tel">Tel: <span itemprop="tel">631-551-3678</span></span>
                                    	<span class="m-contact-fax">Fax: <span itemprop="fax">631-551-3688</span></span>
                                    </div>
                                    
                                </div>
                                
                                <div class="social-icons">
                                
                                	<ul class="list-unstyled list-inline">
                                    
                                    	<li><a href="#" title="Contact us"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    
                                    </ul>
                                
                                </div>
                    
							</li>
                            
                        </ul>
                        
                    </div>
                    
                </div><!-- widgets column center end -->
                
                <div class="col-lg-4 col-md-4"><!-- widgets column right -->
                
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_sofa_flickr"><!-- widgets list -->
                    
                                <h1 class="title-widget">Imagenes</h1>
                                
                                <ul class="k-flickr-photos list-unstyled">
                                	<li><a href="#" title="Flickr photo"><img src="/files/temporal/img/flickr-1.jpg" alt="Photo 1" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/files/temporal/img/flickr-2.jpg" alt="Photo 2" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/files/temporal/img/flickr-3.jpg" alt="Photo 3" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/files/temporal/img/flickr-4.jpg" alt="Photo 4" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/files/temporal/img/flickr-5.jpg" alt="Photo 5" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/files/temporal/img/flickr-6.jpg" alt="Photo 6" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/files/temporal/img/flickr-7.jpg" alt="Photo 7" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/files/temporal/img/flickr-8.jpg" alt="Photo 8" /></a></li>
                                </ul>
                    
							</li>
                            
                        </ul> 
                        
                    </div>
                
                </div><!-- widgets column right end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- footer end -->
    
    <div id="k-subfooter"><!-- subfooter -->
    
    	<div class="container"><!-- container -->
        
        	<div class="row"><!-- row -->
            
            	<div class="col-lg-12">
                
                	<p class="copy-text text-inverse">
                    &copy; 2015 Buntington Public Schools. All rights reserved.
                    </p>
                
                </div>
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- subfooter end -->
{% endblock %}
    <!-- jQuery -->
    <script src="/files/temporal/jQuery/jquery-2.1.1.min.js"></script>
    <script src="/files/temporal/jQuery/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="/files/temporal/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Drop-down -->
    <script src="/files/temporal/js/dropdown-menu/dropdown-menu.js"></script>
    
    <!-- Fancybox -->
	<script src="/files/temporal/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/files/temporal/js/fancybox/jquery.fancybox-media.js"></script><!-- Fancybox media -->
    
    <!-- Responsive videos -->
    <script src="/files/temporal/js/jquery.fitvids.js"></script>
    
    <!-- Audio player -->
	<script src="/files/temporal/js/audioplayer/audioplayer.min.js"></script>
    
    <!-- Pie charts -->
    <script src="/files/temporal/js/jquery.easy-pie-chart.js"></script>
    
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    
    <!-- Theme -->
    <script src="/files/temporal/js/theme.js"></script>
    
    <script src="/files/temporal/mediaelement-and-player.js"></script>
    <script>
$('audio,video').mediaelementplayer();
</script>
    <!-- bxSlider Javascript file -->
    <script src="/files/temporal/js/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.sliderorg').bxSlider({
            slideWidth: 300,
            minSlides: 2,
            maxSlides: 4,
            moveSlides: 1,
            slideMargin: 10,
            auto: true,
            autoHover:true,
            preventDefaultSwipeX:false,
            pager:false
           
          });
        });
    </script>
   
  </body>
</html>