
  {% extends "basexterno.html" %}
  {% load magicembed_tags %}
{% block extra_js%}


{%endblock%}


{% block contenido %}

    <div id="k-body"><!-- content wrapper -->
    
      <div class="container"><!-- container -->
        
          <div class="row"><!-- row -->
            
                <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
                
                    <form action="#" id="top-searchform" method="get" role="search">
                        <div class="input-group">
                            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
                        </div>
                    </form>
                    
                    <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
                
                </div><!-- top search end -->
            
              <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
                
                  <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="/notas">News</a></li>
                        <li class="active">{{nota.titulo}}</li>
                  </ol>
                    
              </div><!-- breadcrumbs end -->               
                
            </div><!-- row end -->
            
            <div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
                  
                    <div class="col-padded"><!-- inner custom column -->
                    
                      <div class="row gutter"><!-- row -->
                     
                          <div class="col-lg-12 col-md-12">

                            

                                <figure class="news-featured-image">  
                                    <img src="/files/temporal/img/news-4.jpg" alt="Featured image 4" class="img-responsive" />
                                </figure>
                                
                                <div class="news-title-meta">
                                    <h1 class="page-title">{{nota.titulo}}</h1>
                                    <div class="news-meta">
                                        <span class="news-meta-date">{{nota.fecha|date:"M t, Y"}}</span>
                                        <span class="ong">{{nota.user.first_name}} {{nota.user.last_name}}</span>
                                        
                                        <span class="ong">{{nota.user.userprofile.contraparte.pais.nombre}}</span>
                                        <span class="news-meta-comments"><a href="#" title="3 comments">3 comentarios</a></span>
                                      
                                    </div>
                                </div>
                                
                                <div class="news-body">
                                    <p>
                                    {{nota.contenido|safe}}
                                    </p>
                                    
                                </div>
                                
                                <div class="news-tags tagcloud">
                                  <a href="#" rel="tag">#Boston University</a>
                                    <a href="#" rel="tag">#Megan Boyle</a>
                                    <a href="#" rel="tag">#Aliquam</a>
                                    <a href="#" rel="tag">#Competition</a>
                                </div>
                            
                               

                            </div>
                        
                        </div><!-- row end -->  
                        
                        <div class="row row-splitter">
                        
                        </div> 
                        
                        <div class="row gutter"><!-- row -->
                        
                          <div class="col-lg-12 col-md-12">
                            
                              <div id="comments"><!-- comments wrap -->
                                
                                  <h6 class="remove-margin-top">Comentarios ( 3 )</h6><!-- comments list title -->
                                    
                                    <ol class="commentlist"><!-- comments list -->
                                            
                                        <li class="comment" id="li-comment-1"><!-- comment -->
                                                
                                            <div id="comment-1">
                                                
                                                <div class="comment-avatar"><!-- author avatar -->
                                                    <img width="50" height="50" class="avatar avatar-50 photo" src="img/avatar-1.jpg" alt="User Avatar" />
                                                </div><!-- author avatar end -->
                                                    
                                                <div class="comment-content-wrap"><!-- comment content wrap -->
                                                
                                                    <div class="comment-author"><!-- author start -->
                                                        <cite class="fn">Joelinne<span class="label"> Post author</span></cite>
                                                    </div><!-- author end -->
                                    
                                                    <div class="comment-meta commentmetadata"><!-- comment meta-->
                                                        <a href="#"><time datetime="2014-07-17T11:33:48+00:00">Jul 17, 2014 at 11:33 am</time></a>
                                                        <a href="#" class="comment-reply-link"><i class="fa fa-reply"></i> &nbsp; Responder</a>                   
                                                    </div><!-- comment meta end -->
                                                    
                                                    <div class="comment-body"><!-- comment text -->
                                                        <p>
                                                        Aenean nibh est, pellentesque et commodo eu, ornare in augue. Fusce pulvinar nisi dui, id pharetra erat laoreet egestas. Aliquam tincidunt pellentesque purus a mattis. Proin vitae vehicula ipsum, at ultrices est. Vestibulum id enim non magna ultrices blandit et ac leo.
                                                        </p>
                                                    </div><!-- comment text end -->
                                                    
                                                </div><!-- comment content wrap end -->
                                                    
                                            </div>
                                            
                                            <ul class="children"><!-- nested comments -->
                                            
                                                <li class="comment" id="li-comment-2"><!-- comment -->
                                                
                                                    <div id="comment-2">
                                                        
                                                        <div class="comment-avatar"><!-- author avatar -->
                                                            <img width="50" height="50" class="avatar avatar-50 photo" src="img/avatar-2.jpg" alt="User Avatar" />
                                                        </div><!-- author avatar end -->
                                                            
                                                        <div class="comment-content-wrap"><!-- comment content wrap -->
                                                        
                                                            <div class="comment-author"><!-- author start -->
                                                                <cite class="fn">JackTheRipper<span class="label"> Post author</span></cite>
                                                            </div><!-- author end -->
                                            
                                                            <div class="comment-meta commentmetadata"><!-- comment meta-->
                                                                <a href="#"><time datetime="2014-07-17T13:48:11+00:00">Jul 17, 2014 at 13:48 am</time></a>
                                                                <a href="#" class="comment-reply-link"><i class="fa fa-reply"></i> &nbsp; Responder</a>                   
                                                            </div><!-- comment meta end -->
                                                            
                                                            <div class="comment-body"><!-- comment text -->
                                                                <p>
                                                                Quisque non aliquet ligula, at tincidunt nunc. Praesent dictum quam neque, vitae ornare lorem porta nec. Morbi ornare eu mauris venenatis viverra.
                                                                </p>
                                                            </div><!-- comment text end -->
                                                            
                                                        </div><!-- comment content wrap end -->
                                                            
                                                    </div>
                                                
                                                </li>
                                            
                                            </ul><!-- nested comments end -->
                                    
                                        </li><!-- comment end -->
                                        
                                        <li class="comment" id="li-comment-3"><!-- comment -->
                                                
                                            <div id="comment-3">
                                                
                                                <div class="comment-avatar"><!-- author avatar -->
                                                    <img width="50" height="50" class="avatar avatar-50 photo" src="img/avatar-3.jpg" alt="User Avatar" />
                                                </div><!-- author avatar end -->
                                                    
                                                <div class="comment-content-wrap"><!-- comment content wrap -->
                                                
                                                    <div class="comment-author"><!-- author start -->
                                                        <cite class="fn">FrancesX<span class="label"> Post author</span></cite>
                                                    </div><!-- author end -->
                                    
                                                    <div class="comment-meta commentmetadata"><!-- comment meta-->
                                                        <a href="#"><time datetime="2014-07-18T09:25:21+00:00">Jul 18, 2014 at 09:25 am</time></a>
                                                        <a href="#" class="comment-reply-link"><i class="fa fa-reply"></i> &nbsp; Responder</a>                   
                                                    </div><!-- comment meta end -->
                                                    
                                                    <div class="comment-body"><!-- comment text -->
                                                        <p>
                                                        Fusce tempor lectus elementum nisi blandit pellentesque. Aliquam a nibh gravida, faucibus elit id, dapibus orci. Nullam adipiscing eget risus ut varius. Suspendisse consectetur elit ligula, sed rutrum eros vulputate ac.
                                                        </p>
                                                    </div><!-- comment text end -->
                                                    
                                                </div><!-- comment content wrap end -->
                                                    
                                            </div>
                                    
                                        </li><!-- comment end -->
                                        
                                    </ol><!-- comments list end -->
                                    
                                    <div class="comment-respond" id="respond"><!-- post comment form wrap -->
                                    
                                        <h6 class="comment-reply-title" id="reply-title">Comentar</h6><!-- post comment title -->
                                        
                                        <form class="comment-form" id="commentform" method="post" action="#"><!-- post comment form -->
                                        
                                            <div class="row"><!-- row -->
                                            
                                                <div class="col-lg-12"><!-- form notice -->
                                            
                                                
                                                </div><!-- form notice end -->
                                                
                                                
                                                <div class="col-lg-12 col-md-12 col-sm-12"><!-- textarea -->
                                                
                                                    <div class="row"><!-- row -->
                                                    
                                                        <div class="form-group clearfix col-lg-12">
                                                            
                                                            <form action="." method="post">
                                                                {% csrf_token %}
                                                                {{form.media}}
                                                                {{form.as_p}}

                                                                <input class="btn btn-large btn-success " style="" type="submit" id="submitfoo" value="Guardar" />
                  
                                                            </form>
                                                        </div>
                                                        
                                                    </div><!-- row end -->
                                                    
                                                </div><!-- textarea -->
                                                
                                            </div><!-- row end -->
                                            
                                            <div class="row"><!-- row -->
                                            
                                                <div class="form-group clearfix col-lg-12 text-right remove-margin-bottom">
                                                    <input type="submit" value="Postear comentario" id="submit" name="submit" class="btn btn-default" /><!-- submit -->
                                                </div>
                                                
                                            </div><!-- row end -->
                                            
                                        </form><!-- post comment form end -->
                                        
                                    </div><!-- post comment form wrap end -->
                                
                                </div><!-- comments wrap end -->
                            
                            </div>
                        
                        </div><!-- row end -->                   
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
                <div id="k-sidebar" class="col-lg-4 col-md-4"><!-- sidebar wrapper -->
                  
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                        {% include "widgets.html" %}

                    </div><!-- inner custom column end -->
                    
                </div><!-- sidebar wrapper end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- content wrapper end -->
{% endblock %}
