{% extends "basexterno.html" %}

{% load magicembed_tags %}
{% load thumbnail %}

{% block extra_js%}{%endblock%}

{% block contenido %}

    <div id="k-body"><!-- content wrapper -->
    
      <div class="container"><!-- container -->
        
          <div class="row"><!-- row -->
            
                <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
                
                    <form action="#" id="top-searchform" method="get" role="search">
                        <div class="input-group">
                            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
                        </div>
                    </form>
                    
                    <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
                
                </div><!-- top search end -->
            
              <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
                
                  <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="/notas">News</a></li>
                        <li class="active">{{nota.titulo}}</li>
                  </ol>
                    
              </div><!-- breadcrumbs end -->               
                
            </div><!-- row end -->
            
            <div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
                  
                    <div class="col-padded"><!-- inner custom column -->
                    
                      <div class="row gutter"><!-- row -->
                     
                          <div class="col-lg-12 col-md-12">

                                <figure class="news-featured-image">
                                {%if nota.fotos.all.count > 0%}
                                 {%for thumb in nota.fotos.all|slice:"1"%} 
                                        {% thumbnail thumb.foto "700x350" crop="center" as im %}
                                            <a href="/notas/{{nota.id}}"><img src="/uploads/{{im}}" class="img-responsive" ></a>
                                      {% endthumbnail %}
                                 {%endfor%}
                                {%else%}
                                       <a href="/notas/{{nota.id}}"><img  src="/files/img/nofoto.png" class="img-responsive"><a/>
                                {%endif%}  
                                </figure>
                                
                                <div class="news-title-meta">
                                    <h1 class="page-title">{{nota.titulo}}</h1>
                                    <div class="news-meta">
                                        <span class="news-meta-date">{{nota.fecha|date:"M t, Y"}}</span>
                                        <span class="ong">{{nota.user.first_name}} {{nota.user.last_name}}</span>
                                        
                                        <span class="ong">{{nota.user.userprofile.contraparte.pais.nombre}}</span>
                                        <span class="news-meta-comments"><a href="#" title="3 comments">3 comentarios</a></span>
                                      
                                    </div>
                                </div>
                                
                                <div class="news-body">
                                    <p>
                                    {{nota.contenido|safe}}
                                    </p>
                                    
                                </div>
                                
                                <div class="news-tags tagcloud">
                                  <a href="#" rel="tag">#Boston University</a>
                                    <a href="#" rel="tag">#Megan Boyle</a>
                                    <a href="#" rel="tag">#Aliquam</a>
                                    <a href="#" rel="tag">#Competition</a>
                                </div>
                            
                               

                            </div>
                        
                        </div><!-- row end -->  
                        
                        <div class="row row-splitter">
                        
                        </div> 
                        
                        <div class="row gutter"><!-- row -->
                        
                          <div class="col-lg-12 col-md-12">
                            
                              <div id="comments"><!-- comments wrap -->
                                
                                  <h6 class="remove-margin-top">Comentarios ( 3 )</h6><!-- comments list title -->
                                    
                                    <ol class="commentlist"><!-- comments list -->
                                            
                                        <li class="comment" id="li-comment-1"><!-- comment -->

                                        {% for comentario in nota.comentarionotas_set.all %}    
                                            <div id="comment-1">
                                                    
                                        
                                                <div class="comment-avatar"><!-- author avatar -->

                                                {%if comentario.user.userprofile.avatar %}

                                                    <img class="avatar avatar-50 photo" src="{{comentario.user.userprofile.avatar.url_70x60}}" />

                                                {%else%}

                                                    <img class="avatar avatar-50 photo" src="/files/img/avatarpeque.png" />

                                                {%endif%}

                                                </div><!-- author avatar end -->

                                                    
                                                <div class="comment-content-wrap"><!-- comment content wrap -->
                                                
                                                    <div class="comment-author"><!-- author start -->

                                                        <cite class="fn">{{comentario.user.first_name}} - {{comentario.user.userprofile.contraparte}}<span class="label">autor</span></cite>

                                                    </div><!-- author end -->
                                    
                                                    <div class="comment-meta commentmetadata"><!-- comment meta-->
                                                        <time datetime="">{{comentario.fecha|date:"M t, Y"}}</time>
                                                        <a href="#" class="comment-reply-link"><i class="fa fa-reply"></i> &nbsp; Responder</a>                   
                                                    </div><!-- comment meta end -->
                                                    
                                                    <div class="comment-body"><!-- comment text -->
                                                        {{comentario.comentario|safe}}
                                                    </div><!-- comment text end -->
                                                    
                                                </div><!-- comment content wrap end -->
                                                {% if comentario.user == request.user or request.user.is_superuser %}
                                                <div class="btn-group foro-edit">

                                                <a data-fancybox-type="iframe"  class=" fancybox btn btn-mini" href="/foros/comentario/editar/{{comentario.id}}"><i class="icon-pencil"></i></a>

                                                <a class="btn btn-mini" href="/foros/comentario/borrar/{{comentario.id}}"><i class="icon-trash"></i></a>
                                                </div>
                                                {% endif %}
                                                
                                            </div>
                                        

                                    
                                        </li><!-- comment end -->
                                        {%endfor%}

                                        
                                    </ol><!-- comments list end -->
                                    
                                    <div class="comment-respond" id="respond"><!-- post comment form wrap -->                                                                                
                                        <div class="col-lg-12 col-md-12 col-sm-12"><!-- textarea -->
                                                
                                            <div class="row"><!-- row -->
                                                    
                                                <div class="form-group clearfix col-lg-12">
                                                            
                                                    <form action="." method="post">
                                                        {% csrf_token %}
                                                        {{form.media}}
                                                        {{form.as_p}}

                                                        <input class="btn btn-large btn-success " style="" type="submit" id="submitfoo" value="Guardar" />
        
                                                    </form>
                                                </div>
                                                        
                                            </div><!-- row end -->
                                                    
                                        </div><!-- textarea -->

                                        
                                    </div><!-- post comment form wrap end -->
                                
                                </div><!-- comments wrap end -->
                            
                            </div>
                        
                        </div><!-- row end -->                   
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
                <div id="k-sidebar" class="col-lg-4 col-md-4"><!-- sidebar wrapper -->
                  
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                        {% include "widgets.html" %}

                    </div><!-- inner custom column end -->
                    
                </div><!-- sidebar wrapper end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- content wrapper end -->
{% endblock %}
